#!/bin/bash

# Terminal
alias c="clear"
alias x="exit"
alias e="code -n ~/ ~/.zshrc ~/.aliases ~/.colors ~/.hooks"
alias r="source ~/.zshrc"

alias h="history -10"
alias hc="history -c"
alias hg="history | grep" # <command>
alias ag="alias | grep" # <command>


# Utils

# https://github.com/abishekvashok/cmatrix
# sudo apt install cmatrix / brew install cmatrix
alias m="cmatrix -abs"

# https://htop.dev/
# sudo apt install htop / brew install htop
alias t="htop"

# https://dev.yorhel.nl/ncdu
# sudo apt install ncdu / brew install ncdu
alias d="ncdu --exclude /mnt --color dark" # <path>

# https://www.speedtest.net/apps/cli
alias st="speedtest"

# https://github.com/sindresorhus/clipboard-cli
# npm install -g clipboard-cli
alias cb="clipboard"

# https://the.exa.website/install/linux
# apt install exa
alias et='exa --icons --tree'
alias et1='exa --icons --tree --level=1 --ignore-glob="*node_modules*"'
alias et2='exa --icons --tree --level=2 --ignore-glob="*node_modules*"'
alias els='exa --long'
alias ela='exa --long --all'


# Markdown Cheatsheets
alias mdv="md_viewer -s" # <name>
alias mdvg="md_viewer -s git"
alias mdvo="md_viewer -s open"


# Git
alias gcum="git config user.name \"${GIT_USER_NAME}\" && git config user.email \"${GIT_USER_EMAIL}\""
alias gcu="git config credential.username \"${GIT_USER_NAME}\""
alias gc="gcu && gcum"
alias ghcum="git config user.name \"${GITHUB_USER_NAME}\" && git config user.email \"${GITHUB_USER_EMAIL}\""
alias ghcu="git config credential.username \"${GITHUB_USER_NAME}\""
alias gcg="git config --edit --global"
alias gcl="git config --edit --local"
alias guc="git reset --hard HEAD" # undo changes and preserve untracked files
alias gca="git clean -f -d -x" # clean ALL changes and remove untracked files
alias gcd="git checkout dev"
alias glod="git pull origin dev"
alias gpnv="git push --no-verify"
alias gcae="git commit --allow-empty -m " # <message>

# https://github.com/deinsoftware/swpm
# npm install --global swpm
# Switch Packages Manager
alias spn="swpm --pin npm"
alias spy="swpm --pin yarn"
alias spp="swpm --pin pnpm"
alias sin="swpm --info"

alias si="swpm install"
alias sifl="swpm install -FL"
alias sa='swpm add' # <package@version>
alias sae='swpm_sae' # <package@version>
alias sad='swpm_sad' # <package@version>
alias sade='swpm_sade' # <package@version>
alias sag='swpm_sag' # <package@version>
alias srm="swpm remove" # <package@version>
alias sud='swpm_sud' # <package@version>
alias sug='swpm_sug' # <package@version>
#alias pcc="pkg cache clean --force"
alias sr="swpm run" # <script>

alias scn="swpm clean --node-modules"
alias scl="swpm clean --lock"
alias scb="swpm clean --build"
alias scc="swpm clean --coverage"
alias sca="swpm clean --all"
alias rzi="rm -rf **/*Zone.Identifier"
alias sci="sca && si"
alias cci="clear && sci"

alias sip="swpm init"
alias sipy="swpm init -y"
alias scl="swpm config list"
alias srb="swpm run build"
alias srbd="swpm run build:dev"
alias srd="swpm run deploy"
alias srs="swpm run start"
alias srd="swpm run dev"
alias srsd="swpm run start:dev"
alias srsq="swpm run start:qa"
alias srss="swpm run start:stg"
alias srsp="swpm run start:prod"
alias srt="swpm run test"
alias srtui="swpm run test:ui"
alias srtc="swpm run test:c"
alias srtw="swpm run test:w"
alias srtwc="swpm run test:wc"
alias sp="swpm publish"
alias su="swpm unpublish" # <package@version>

alias ncl="npx npm-check"
alias ncg="npx npm-check -g"
alias nul="npx npm-check -u"
alias nug="npx npm-check -gu"

alias npk="npx npkill" #clean unused node_modules
alias nkp="npx kill-port" # <port>
alias nfk="npx fkill-cli" # [<pid|name|:port> …] #kill processes

# Image Optimizer
alias iow="npx @squoosh/cli --webp auto" # <file-name>
alias ioa="npx @squoosh/cli --avif auto" # <file-name>
alias iop="npx @squoosh/cli --oxipng auto" # <file-name>


# Serverless
alias sli="sls info"
alias sld="sls deploy"
alias sldf="sls deploy --force"
alias sldf="sls deploy function --function" # <function-name>
alias sldff="sls deploy function --force --function" # <function-name>
alias slos="serverless offline start"
alias slr="rm -rf .serverless"


# Open
alias o="open_path -p ." # open current folder
alias op="open_path -p" # <path>
alias opb="open_path -p build" # open build path
alias opc="open_path -p coverage" # open coverage path
# Browse
alias b="open_browser -f ./index.html" # browse index.html
alias bu="open_browser -u" # <url>
alias blh="open_browser -u http://localhost"
alias blhp="open_browser -u http://localhost -p" # <port>
alias bcr="open_browser -f coverage" # browse coverage
alias cgr="copy_git_repo" # browse git repo
alias bgr="open_git_repo" # browse git repo
alias bgb="open_git_branch" # browse git repo on current branch
alias bgp="open_git_pull" # browse git repo pulls
alias bgc="open_git_compare" # <base-branch>
alias bnp="open_npm_package" #browse npm package
alias bnc="open_npm_clipboard" #browse npm package from clipboard


# Search
alias s="search_text" # -t <text> [-p <path>]
alias sff="find " # <path> -type d -name <folder> 


# Base 64
alias b2f="b64_to_file"
alias f2b="file_to_b64"


# Updates
alias spl="swpm list --depth 0 -g" #list global packages installed
alias spo="swpm outdated -g"
alias spu="swpm interactive -g"
alias spi="swpm interactive -g"

alias brd="brew update"
alias bro="brew outdated"
alias brg="brew upgrade"
alias brc="brew cleanup && brew cask cleanup"
alias brd="brew doctor"

# sudo apt install neofetch 
alias lv="neofetch" # wslfetch
alias apd="sudo apt update" #update repositories
alias alu="apt list --upgradable" #outdated
alias apg="sudo apt upgrade -y" #update installed packages
alias arm="sudo apt --purge autoremove"


# VSCode
alias vc="code"
alias vco="code ."
# npm install --global vsce
alias vcp="vsce package"


# Volta
alias vi14="volta install node@14"
alias vi16="volta install node@lts"
alias vi18="volta install node@18"
alias vpn="volta pin node@16.13.1 && volta pin npm@8.1.2"
alias vla="volta list all"
alias vln="volta list node"
alias vlnc="volta list node --current --format plain"
alias vlnd="volta list node --default --format plain"
alias vlp="volta list npm"
alias vcv="node -v && npm -v"


#PyEnv
alias peup="git -c $(pyenv root) pull"
alias peil="pyenv install --list"
alias peiv="pyenv versions"
alias pei="pyenv install " # <version>
alias peu="pyenv uninstall " # <version>
alias peg="pyenv global " # <version>
alias pel="pyenv local " # <version>
alias pcv="python --version"


#Ubuntu
alias uv="cat /etc/os-release"
#sudo apt install update-manager-core
alias uu="sudo do-release-upgrade" #update ubuntu
