#!/bin/bash

# Utils
zsh_add_source ~/.dotfiles/alias/terminal
zsh_add_source ~/.dotfiles/alias/utils

# Development
zsh_add_source ~/.dotfiles/alias/android
zsh_add_source ~/.dotfiles/alias/code
zsh_add_source ~/.dotfiles/alias/fzf
zsh_add_source ~/.dotfiles/alias/git
zsh_add_source ~/.dotfiles/alias/swpm
zsh_add_source ~/.dotfiles/alias/swpx
zsh_add_source ~/.dotfiles/alias/volta
zsh_add_source ~/.dotfiles/alias/python
zsh_add_source ~/.dotfiles/alias/zinit
zsh_add_source ~/.dotfiles/alias/zmk

# Files and Folders
zsh_add_source ~/.dotfiles/alias/files

# Updates
if [[ "$( which_os )" == "OSX" ]]; then
    zsh_add_source ~/.dotfiles/alias/macos
fi
if [[ "$( which_os )" == "LINUX" ]]; then
    zsh_add_source ~/.dotfiles/alias/unix
    zsh_add_source ~/.dotfiles/alias/ubuntu
fi

# Private
zsh_add_source ~/.dotfiles/alias/private
