# Ignore everything
*

# But not these files...
!.gitignore
!.aliases
!.colors
!.hooks
!.packages
!LICENSE
!README.md
!README.ES.md

# And not this folders
!.alias
!.alias/**
!.github
!.github/**
!.helpers
!.helpers/**
!.cheatsheet
!.cheatsheet/**
