# Ignore everything
*

# But not these files...
!.gitignore
!.aliases
!.colors
!.hooks
!LICENSE
!README.md
!README.ES.md

# And not this folders
!.github
!.github/**
!.helpers
!.helpers/**
!.cheatsheet
!.cheatsheet/**
